[submodule "themes/Casper"]
	path = themes/Casper
	url = https://github.com/liujings8/Casper.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/liujings8/hexo-theme-next.git
	branch = v5.1.4-my
[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/liujings8/hexo-theme-yilia.git
	branch = master
